/*CSS file*/

.shadow {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: inset 0px 0px 400px #D8D8D8;
	box-shadow: inset 0px 0px 100px #D8D8D8;
}

.alertBox
{
    border-width: 1px !important;
    border-color: #fff !important;
    box-shadow: 0 0 10px #719ECE !important;
    background-color: white !important;
    color: #fff !important;
    cursor: default !important;
    width: 500px !important;
    height: 350px !important;

    opacity: 0.8 !important;
}

body
{
    background-color: white;
    margin:0 auto 0 auto;
    padding:0;
}

.container
{
    height: 200px;
    width: 800px;
    margin:10% auto 0 auto;
}

.fish
{
    height: 370px;
    width: 380px;
    margin:5% auto 0 auto;
}

h1 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    line-height: 46px;
    font-size: 46px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #555;
}

h2 {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
    line-height: 35px;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #555;
    position: center;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    line-height: 18px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #555;
    align: left;
}

input[type=text] {
    padding: 3;
    height: 20px;
    width: 150px;
    position: relative;
    left: 0;
    margin-bottom: 13px;
    outline: none !important;
    border: 1px solid white;
    box-shadow: 0 0 10px #719ECE;
}

input[type=password] {
    padding: 3;
    height: 20px;
    width: 150px;
    position: relative;
    left: 0;
    margin-bottom: 10px;
    outline: none !important;
    border: 1px solid white;
    box-shadow: 0 0 10px #719ECE;
}

input[type=text]:focus{
    outline: none !important;
    border-width: 1px;
    border-color: #58D3F7;
    box-shadow: 0 0 10px #719ECE;
}

input[type=password]:focus{
    outline: none !important;
    border-width: 1px;
    border-color: #58D3F7;
    box-shadow: 0 0 10px #719ECE;
}

input[type=submit] {
    height: 30px;
    width: 70px;
    background: #CEECF5;
    border: 1px solid #CEECF5;
}

input[type=button] {
    height: 30px;
    width: 70px;
    background: #CEECF5;
    border: 1px solid #CEECF5;
}

input[type=submit]:focus{
    outline: none !important;
    border-width: 1px;
    border-color: #58D3F7;
    box-shadow: 0 0 10px #719ECE;
}

input[type=button]:focus{
    outline: none !important;
    border-width: 1px;
    border-color: #58D3F7;
    box-shadow: 0 0 10px #719ECE;
}
